section.skills {
    color: var(--color-50);
}

section.skills h1 {
    font-size: 3rem;
    font-weight: 200;
    margin-bottom: 20px;
}

section.skills h1:after {
    display: inline-block;
    content: "";
    border-top: 0.5px solid var(--color-500);
    width: 60%;
    margin: 0 2rem;
    transform: translateY(-1rem);
}

section.skills ul.skill-buttons {
    margin-top: 10px;
    list-style-type: none;
    display: inline-flex;
    gap: 15px;
}

section.skills ul.skill-buttons li {
    padding: 15px;
    font-size: 1.25em;
    font-weight: 600;

    border: 2px solid var(--color-500);
    border-radius: 20px;
    background-color: var(--color-800);
}

section.skills ul.skill-buttons li:hover {
    cursor: pointer;
    color: var(--color-confirm-100);
    background-color: var(--color-confirm-500);
}

section.skills ul.skill-buttons li.selected {
    background-color: var(--color-selected-500);
    color: var(--color-selected-100);
    border: 2px solid var(--color-selected-200);

    box-shadow: 0px 5px 15px -5px var(--color-selected-100);
}
