section.skills {
    color: var(--color-50);
}

section.skills ul.skill-buttons {
    margin-top: 10px;
    list-style-type: none;
    display: inline-flex;
    border: 1px solid var(--color-200);
    border-radius: 20px;
}

section.skills ul.skill-buttons li {
    padding: 15px;
    font-size: 1.25em;
}

section.skills ul.skill-buttons li:hover {
    cursor: pointer;
    color: var(--color-confirm-100);
}