:root {

    /* 
        Color palette: Blue Grey, https://compilezero.medium.com/dark-mode-ui-design-the-definitive-guide-part-1-color-53dcfaea5129
    */
    --color-50: #F0F4F8;
    --color-100: #D9E2EC;
    --color-200: #BCCCDC;
    --color-300: #9FB3C8;
    --color-400: #829AB1;
    --color-500: #627D98;
    --color-600: #486581;
    --color-700: #334E68;
    --color-800: #323F4B;
    --color-900: #1F2933;

    --color-confirm-100: #ABF5D1;
    --color-confirm-200: #57D9A3;
    --color-confirm-300: #36B37E;
    --color-confirm-400: #00875A;
    --color-confirm-500: #006644;

    --color-selected-100: #FFF083;
    --color-selected-200: #FFE380;
    --color-selected-300: #FFC400;
    --color-selected-400: #FFAB00;
    --color-selected-500: #FF991F;

    /* Breakpoints */
    --bp-mobile: 412;
    --bp-tablet: 768;
    --bp-laptop: 1366;
    --bp-desktop: 1920;
}

